/*
Author: Léa Becquerel
Date: 2025-09-22
*/

body {
  background-color: #2a2929;
  font-family: Courier, monospace;
  font-size: 24px;
  color: #ffffff;
}

h1 {
  color: #2f9eed;
  font-size: 4rem;
}

a {
  color: green;
  text-decoration: none;

}

