/*
Author: Léa Becquerel
Date: 2025-09-22
*/

body {
  background-color: #2a2929;
  font-family: Courier New, monospace;
  font-size: 24px;
  color: #ffffff;
}
a {
  color: green;
  text-decoration: none;
}